* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: white; /* El fondo general es blanco */
}

.navbar{
    padding:10px 0;
    background:#e7f0f7 !important;
}

.logo{
    width:70px;
    height: 70px;
    border-radius: 100px;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:35px;
    flex-wrap:nowrap;
}

.nav-links a{
    white-space:nowrap;
}

.nav-links a{
    text-decoration:none;
    color:black;
    font-weight:600;
    font-size:15px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#19d7df;
}

.btn-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.btn-nav{
    border: none;
    background: #fcfdfd;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
}

.btn-nav:hover{
    background: #d7edf8;
    transform: translateY(-2px);
}



.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 70px;
}

.full-header h1 {
    font-size: 24px;
    color: #333;
    font-weight: 400;
}

/* Contenedor principal que ocupa el resto del alto */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px; /* Espacio para que el formulario no pegue arriba */
    height: calc(100vh - 100px); 
}

.form-wrapper {
    width: 100%;
    max-width: 450px; /* El formulario no se estira infinito para que no sea difícil de leer */
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
    color: #222;
}

/* Estilo de los inputs tipo cápsula */
.input-container {
    background-color: #e8f1f9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.input-container i {
    color: #555;
    font-size: 18px;
}

.input-container input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
}

.helper-text {
    text-align: right;
    margin-bottom: 30px;
}

.helper-text a {
    color: #4fb3d9;
    text-decoration: none;
    font-size: 14px;
}

/* Botón grande */
.btn-full {
    background-color: #bde4f4;
    border: none;
    width: 100%;
    padding: 18px;
    border-radius: 15px;
    color: #444;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.register-footer {
    margin-top: 30px;
}

.register-footer a {
    color: #4fb3d9;
    text-decoration: none;
    font-weight: 600;
}