*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#ece8e5;
  font-family:'Playfair Display', serif;
  color:#1d1d1d;
}

/* NAVBAR */

.navbar{
  width:100%;
  height:80px;
  background:#dbe7f0;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 60px;
}

.navbar-logo img{
  height:55px;
  width:auto;
}

.navbar-menu{
  display:flex;
  align-items:center;
  gap:40px;
}

.navbar-menu a{
  text-decoration:none;
  color:#000;
  font-size:18px;
  font-weight:600;
  transition:.3s;
}

.navbar-menu a:hover{
  color:#2c6e91;
}

/* TITULO */

.title{
  text-align:center;
  margin:40px 0;
}

.title h1{
  font-family:'Playfair Display', serif;
  font-size:42px;
  font-style:italic;
  font-weight:500;
}

/* CONTENIDO */

.container{
  width:90%;
  max-width:1000px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:40px;
  padding-bottom:60px;
}

.card{
  display:flex;
  gap:20px;
  padding:18px;
  border-radius:10px;
  align-items:center;
}

.blue{
  background:#cfe6f7;
}

.beige{
  background:#e8decb;
}

.card img{
  width:280px;
  height:180px;
  object-fit:cover;
  border-radius:6px;
}

.content{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.content h2{
  font-family:'Playfair Display', serif;
  font-size:34px;
  line-height:1.1;
}

.content p{
  font-size:20px;
  line-height:1.6;
}

button{
  width:140px;
  padding:12px;
  border:none;
  border-radius:12px;
  background:white;
  font-size:17px;
  font-style:italic;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#dfefff;
}

/* RESPONSIVE */

@media(max-width:850px){

  .navbar{
    height:auto;
    padding:15px 20px;
    flex-direction:column;
    gap:15px;
  }

  .navbar-menu{
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
  }

  .card{
    flex-direction:column;
  }

  .card img{
    width:100%;
    height:220px;
  }

  .content h2{
    font-size:28px;
  }

  .content p{
    font-size:18px;
  }

  .title h1{
    font-size:32px;
  }
}