
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#ffffff;
     overflow-x:hidden;
}


.navbar{
    padding:10px 10px;
    background:#e7f0f7 !important;
}

.navbar .container{
    display:flex;
    align-items:center;
    justify-content:space-between ;
}

.logo{
    width:150spx;
    height:70px;
    border-radius:100px;
    padding: 0px 5px 0px 50px;
}

.nav-links{
    display:flex;
    align-items:left;
    gap:25px;
    margin-left:auto;
}

.nav-links a{
    text-decoration:none;
    color:black;
    font-weight:600;
    font-size:15px;
    transition:0.3s;
    white-space:nowrap;
    
}

.nav-links a:hover{
    color:#19d7df;
}

.btn-container{
    display:flex !important;
    flex-direction:row !important;
    align-items:center;
    gap:10px;
}

.btn-container a{
    display:inline-block;
}

.btn-nav{
    border:none;
    background:#fcfdfd;
    padding:10px 25px;
    border-radius:15px;
    font-weight:600;
    cursor:pointer;
    white-space:nowrap;
    transition:0.3s;
    font-size:15px;
}

.btn-nav:hover{
    background:#d7edf8;
    transform:translateY(-2px);
}


.hero{
    height:520px;
    background:
    linear-gradient(
        rgba(0,0,0,.30),
        rgba(0,0,0,.30)
    ),
    url("../img/playita.png");

    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero h1{
    color:white;
    font-family:'Playfair Display',serif;
    font-size:75px;
    text-shadow:2px 2px 10px rgba(0,0,0,.4);
}


.intro{
    background:#fff4d7;
    text-align:center;
    padding:60px 90px;
}

.intro h2{
    font-family:'Playfair Display',serif;
    font-size:50px;
    margin-bottom:25px;
}

.intro p{
    font-size:22px;
    line-height:1.9;
    max-width:1100px;
    margin:auto;
}


.beaches{
    background:#dfeaf2;
    padding:70px 40px;
}

.beaches h2{
    text-align:center;
    font-family:'Playfair Display',serif;
    font-size:55px;
    margin-bottom:50px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:35px;
    max-width:1200px;
    margin:auto;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.12);
    transition:.4s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card-content{
    padding:20px;
    text-align:center;
}

.card h3{
    margin-bottom:10px;
}

.card p{
    margin-bottom:15px;
    color:#555;
}

.card button{
    border:none;
    background:#bfe3ec;
    padding:10px 25px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
    font-weight:600;
}

.card button:hover{
    background:#84c8da;
    transform:scale(1.05);
}


.map-section{
    background:white;
    padding:70px 30px;
}

.map-section h2{
    text-align:center;
    font-size:50px;
    font-family:'Playfair Display',serif;
    margin-bottom:40px;
}

.map-card{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:20px;
    background:white;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

#map{
    width:100%;
    height:550px;
    border-radius:20px;
    overflow:hidden;
}


.beach-modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.75);
    backdrop-filter:blur(5px);
    z-index:9999;
    overflow:auto;
}

.modal-container{
    background:white;
    width:90%;
    max-width:1000px;
    margin:40px auto;
    border-radius:20px;
    overflow:hidden;
    animation:modalShow .4s ease;
}

@keyframes modalShow{

    from{
        opacity:0;
        transform:translateY(-30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

.modal-carousel{
    position:relative;
    height:450px;
}

.modal-carousel img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.carousel-arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:white;
    cursor:pointer;
    font-size:22px;
}

.left-arrow{
    left:20px;
}

.right-arrow{
    right:20px;
}

.modal-info{
    padding:35px;
}

.modal-info h2{
    font-size:40px;
    margin-bottom:20px;
    font-family:'Playfair Display',serif;
}

.modal-details{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    margin-bottom:25px;
}

.detail-card{
    background:#d7edf8;
    padding:15px;
    border-radius:12px;
    text-align:center;
    font-weight:500;
}

#modalDescription{
    line-height:1.9;
    margin-bottom:25px;
}

.activities{
    background:#f3f8fb;
    padding:20px;
    border-radius:15px;
}

.activities h3{
    margin-bottom:15px;
}

.activities li{
    margin-bottom:10px;
}

.close-modal{
    position:absolute;
    top:20px;
    right:35px;
    color:white;
    font-size:45px;
    cursor:pointer;
}


footer{
    background:#d7edf8;
    text-align:center;
    padding:30px;
}

footer h3{
    margin-bottom:10px;
}


@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:50px;
        text-align:center;
    }

    .intro{
        padding:40px;
    }

    .intro p{
        font-size:18px;
    }

    .modal-carousel{
        height:250px;
    }

    .modal-info h2{
        font-size:28px;
    }

    #map{
        height:400px;
    }
}