
.nav-link.active{
    color:#18C6E3 !important;
}

.menu-toggle{
    display:none;
    background:none;
    border:none;
    font-size:30px;
    color:#0A2647;
    cursor:pointer;
}

/* Para que el hero no quede debajo de la navbar */


.hero-tiendas{
    height:70vh;
    background-image:url('../img/tiendas/back-tienda.jpg');
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    align-items:center;
}

.hero-overlay{
    background:rgba(0,0,0,.45);
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:80px;
}

.hero-overlay h1{
    color:white;
    font-size:4rem;
    font-weight:800;
    line-height:1.1;
}

.hero-overlay span{
    color: #47D7F5;
    display:block;
}

.hero-overlay p{
    color:white;
    font-size:1.2rem;
    margin-top:20px;
    max-width:600px;
}

.tiendas-section{
    background:#eef4f6;
    padding:80px 0;
}

.titulo-tiendas{
    text-align:center;
    color:#0A2647;
    font-size:2rem;
    margin-bottom:50px;
}

.rating{
    color:#f4b400;
    font-size:1.2rem;
    font-weight:bold;
}

.rating span{
    margin-left:5px;
    color:#f4b400;
}

.contenedor-tiendas{
    width:90%;
    max-width:1300px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.card-tienda{
    background:#fff;
    border:none;
    border-radius:25px;
    overflow:hidden;
    padding:18px;
    transition:.3s;
    text-align:center;
}

.card-tienda:hover{
    transform:translateY(-8px);
}

.card-tienda img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:18px;
}

.card-tienda h3{
    color:#0A2647;
    margin:15px 0;
}

.rating{
    color:#f4b400;
    font-weight:bold;
}

.btn-ver{
    display:inline-block;
    margin-top:15px;
    background:#19C7E5;
    color:white;
    text-decoration:none;
    padding:12px 28px;
    font-weight:bold;
    border-radius: 12px;
    border:none;
}

.btn-ver:hover{
    background:#0A2647;
    color:white;
}

.modal-tienda{
    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.7);

    justify-content:center;
    align-items:center;

    z-index:9999;
}

.modal-contenido{
    background:white;

    width:90%;
    max-width:700px;

    padding:30px;

    border-radius:15px;

    position:relative;

    text-align:center;

    max-height:90vh;
    overflow-y:auto;
}

.modal-contenido h2{
    color:#0A2647;
    font-size:2.2rem;
    margin:20px 0;
}

.estrellas{
    font-size:1.3rem;
    color:#f4b400;
    font-weight:bold;
}

.modal-contenido p{
    margin:12px 0;
    font-size:1rem;
}

.info-modal{
    width:100%;
    text-align:left;
    margin-top:20px;
}

.info-modal p{
    display:flex;
    align-items:center;
    gap:10px;
    margin:14px 0;
}

.info-modal i{
    color:#222 !important;
    font-size:18px;
    width:22px;
}

.descripcion-modal{
    margin-top:20px;
    padding-top:20px;

    border-top:1px solid #ddd;

    text-align:left;

    line-height:1.7;
}

.estrellas i,
.rating i{
    color:#f4b400;
    margin-right:2px;
}


.info-modal{
    width:100%;
    text-align:left;
    margin-top:20px;
}

.info-modal p{
    display:flex;
    align-items:center;
    gap:10px;
    margin:14px 0;
}

.info-modal i{
    color:#19C7E5;
    font-size:18px;
    width:22px;
}

.modal-img{
    width:100%;
    height:300px;

    object-fit:cover;

    border-radius:10px;

    margin-bottom:20px;
}


.cerrar{
    position:absolute;

    right:20px;
    top:10px;

    font-size:35px;

    cursor:pointer;

    font-weight:bold;
}


@media(max-width:992px){

    .contenedor-tiendas{
        grid-template-columns:repeat(2,1fr);
    }

    .hero-overlay{
        padding:40px;
    }

    .hero-overlay h1{
        font-size:3rem;
    }
}

@media(max-width:768px){

    .custom-navbar{
        position:relative;
    }

    .custom-navbar .container{
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }

    .menu-toggle{
        display:block;
        font-size:32px;
        cursor:pointer;
        color:#0A2647;
        background:none;
        border:none;
    }

    .navbar-nav{
        display:none;

        position:absolute;
        top:100%;
        left:0;

        width:100%;

        background:#f5fbfd;

        flex-direction:column;
        gap:12px;

        padding:10px 0;

        max-height:300px;
       overflow-y:auto;

        box-shadow:0 5px 10px rgba(0,0,0,.1);
    }

  .navbar-nav.active{
    display:flex;

    position:absolute;
    top:100%;
    left:0;

    width:100%;

    background:#f5fbfd;

    z-index:9999;
}

    .hero-tiendas{
        height:500px;
    }

    .hero-overlay{
        padding:30px;
    }

    .hero-overlay h1{
        font-size:2.5rem;
    }

    .hero-overlay p{
        font-size:1.1rem;
    }

    .contenedor-tiendas{
        grid-template-columns:1fr;
    }

    .navbar-brand img{
    height:40px;
}
}