*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#ffffff;
    overflow-x:hidden;
}

/* NAVBAR */
.navbar{
    padding:10px 0;
    background:#e7f0f7 !important;
}

.logo{
    width:70px;
    height: 70px;
    border-radius: 100px;
}

/* NAV LINKS */
.nav-links{
    display:flex;
    align-items:center;
    gap:35px;
    flex-wrap:nowrap;
}

.nav-links a{
    white-space:nowrap;
}

.nav-links a{
    text-decoration:none;
    color:black;
    font-weight:600;
    font-size:15px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#19d7df;
}

.btn-nav{
    border:none;
    background:#fcfdfd;
    padding:10px 40px;
    border-radius:15px;
    font-weight:600;
    transition:0.3s;

}

.btn-nav:hover{
    background:#00c8d7;
    color:white;
}

/* HERO */
.hero{
    height:100vh;
    background:url('https://images.unsplash.com/photo-1502680390469-be75c86b636f?q=80&w=1600&auto=format&fit=crop');
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    align-items:center;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.25);
}

.hero-content{
    position:relative;
    z-index:2;
}

.text-side h1{
    color:white;
    font-size:7rem;
    font-weight:900;
    line-height:0.9;
}

.text-side h1 span{
    color:#19d7df;
}

.text-side p{
    color:white;
    font-size:1.2rem;
    margin:25px 0;
    max-width:500px;
}

.hero-btn{
    border:none;
    background:#18d5df;
    color:white;
    padding:15px 35px;
    border-radius:40px;
    font-weight:bold;
}

/* SECTIONS */
.section-white,
.section-beige{
    padding:100px 0;
}

.section-beige{
    background:#f7f1e6;
}

.section-white h2,
.section-beige h2{
    font-size:3rem;
    color:#0d2c4a;
    margin-bottom:25px;
    font-weight:800;
}

.section-white p,
.section-beige p{
    font-size:1.1rem;
    line-height:2;
    color:#444;
}

.section-img{
    width:100%;
    border-radius:25px;
    box-shadow:0 15px 40px rgba(0,0,0,0.15);
}

.brush{
    border-radius:40px;
}

.rounded-custom{
    border-radius:30px 80px 30px 80px;
}

/* CTA */
.cta-section{
    background:url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=1600&auto=format&fit=crop');
    background-size:cover;
    background-position:center;
    padding:70px 0;
}

.cta-section h3{
    font-size:3.2rem;
    font-weight:800;
    text-align:center;
    white-space:nowrap;
    letter-spacing:2px;
    font-family:;
}

.newsletter{
    display:flex;
    background:white;
    border-radius:40px;
    overflow:hidden;
}

.newsletter input{
    border:none;
    padding:15px;
    width:100%;
    outline:none;
}

.newsletter button{
    border:none;
    background:#19d7df;
    color:white;
    padding:15px 25px;
    font-weight:bold;
}

/* FOOTER */
footer{
    background:#031c34;
    padding:40px 0;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-logo{
    width:100px;
}

.socials i{
    color:white;
    font-size:1.7rem;
    margin-left:20px;
    transition:0.3s;
}

.socials i:hover{
    color:#19d7df;
}

/* RESPONSIVE */
@media(max-width:1200px){

    .container{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }
}

@media(max-width:768px){

    .text-side h1{
        font-size:4rem;
    }

    .section-white h2,
    .section-beige h2{
        font-size:2.2rem;
    }

    .footer-content{
        flex-direction:column;
        gap:20px;
    }

    .newsletter{
        flex-direction:column;
        border-radius:20px;
    }

    .nav-links{
        flex-direction:column;
        gap:15px;
    }

    .btn-nav{
        padding:8px 18px;
        font-size:14px;
    }
}